.btn-primary {
  color: #fff;
  background-color: $brand-primary;
  border-color: $brand-primary;
  &:hover {
    color: #fff;
    background-color: $brand-secondary;
    border-color: $brand-secondary;
  }
}
.btn-secondary {
  color: #fff;
  background-color: $brand-secondary;
  border-color: $brand-secondary;
  &:hover {
    color: #fff;
    background-color: shade($brand-secondary, 10%);
    border-color: shade($brand-secondary, 10%);
  }
}
.btn-success {
  color: #fff;
  background-color: $brand-success;
  border-color: $brand-success;
  &:hover {
    color: #fff;
    background-color: shade($brand-success, 10%);
    border-color: shade($brand-success, 10%);
  }
}
.btn-danger {
  color: #fff;
  background-color: $brand-danger;
  border-color: $brand-danger;
  &:hover {
    color: #fff;
    background-color: shade($brand-danger, 10%);
    border-color: shade($brand-danger, 10%);
  }
}
.btn-warning {
  color: $gray-darker;
  background-color: $brand-warning;
  border-color: $brand-warning;
  &:hover {
    color: shade($gray-darker, 10%);
    background-color: shade($brand-warning, 10%);
    border-color: shade($brand-warning, 10%);
  }
}
.btn-info {
  color: #fff;
  background-color: $brand-info;
  border-color: $brand-info;
  &:hover {
    color: #fff;
    background-color: shade($brand-info, 10%);
    border-color: shade($brand-info, 10%);
  }
}
.btn-light {
  color: $gray-dark;
  background-color: $gray-lightest;
  border-color: $gray-lightest;
  &:hover {
    color: $gray-darker;
    background-color: $gray-light-more;
    border-color: $gray-light-more;
  }
}
.btn-dark {
  color: #fff;
  background-color: $gray-dark;
  border-color: $gray-dark;
  &:hover {
    color: #fff;
    background-color: $gray-darker;
    border-color: $gray-darker;
  }
}


.btn-outline-primary {
  color: $brand-primary;
  border-color: $brand-primary;
  &:hover {
    color: $brand-primary;
    background-color: tint($brand-primary, 94%);
    border-color: $brand-primary;
  }
}
.btn-outline-secondary {
  color: $brand-secondary;
  border-color: $brand-secondary;
  &:hover {
    color: $brand-secondary;
    background-color: tint($brand-secondary, 94%);
    border-color: $brand-secondary;
  }
}
.btn-outline-success {
  color: $brand-success;
  border-color: $brand-success;
  &:hover {
    color: $brand-success;
    background-color: tint($brand-success, 94%);
    border-color: $brand-success;
  }
}
.btn-outline-danger {
  color: $brand-danger;
  border-color: $brand-danger;
  &:hover {
    color: #fff;
    background-color: tint($brand-danger, 94%);
    border-color: $brand-danger;
  }
}
.btn-outline-warning {
  color: $gray-darker;
  border-color: $brand-warning;
  &:hover {
    color: $gray-darker;
    background-color: tint($brand-warning, 94%);
    border-color: $brand-warning;
  }
}
.btn-outline-info {
  color: $brand-info;
  border-color: $brand-info;
  &:hover {
    color: $brand-info;
    background-color: tint($brand-info, 94%);
    border-color: $brand-info;
  }
}
.btn-outline-light {
  color: $gray-dark;
  border-color: $gray-light-more;
  &:hover {
    color: $gray-dark;
    background-color: $gray-lighter;
    border-color: $gray-light-more;
  }
}
.btn-outline-dark {
  color: $gray-dark;
  border-color: $gray-dark;
  &:hover {
    color: $gray-dark;
    background-color: tint($gray-dark, 94%);
    border-color: $gray-dark;
  }
}
