#footer-dulcet {
  margin-top: 1.5rem;
  background-color: $gray-lighter;
  border-top: tint($gray-light-more, 10%) .35rem solid;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  h2 {
    border-bottom: 1px dotted #aaa;
    padding-bottom: 0.5rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
    font-weight: 400;
  }

  ul li {
    line-height: 1.2;
    margin-bottom: .5rem;

    a {
      font-size: 1rem;
      padding-bottom: .25rem;
    }
  }

  address.contact-address {
    font-size: 0.9rem;
  }

  .social-media-icons a {
    &.fa, &.fab {
      font-size: 1.5rem;
      margin-right: 0.2rem;
      color: #777;
      text-decoration: none;
      &:hover {
        text-decoration: none;
        &.fa-linkedin {
          color: #1da1f2;
        }
        &.fa-facebook-square {
         color: #4267b2;
        }
        &.fa-youtube-square {
         color: #ff0000;
        }
        &.fa-flickr {
          color: #ec0f80;
        }
        &.fa-instagram {
          color: #7324c2;
        }
        &.fa-rss-square {
          color: #e27800;
        }
      }
    }
  }

  .newsletter-signup {
    margin-bottom: 1.5rem;
  }

  .drupal-shib-login-wrapper {
    margin-top: 3rem;
  }
}
