/* These styles help deal with differences between the breakpoints */
/* defined in the dul-masthead app vs. in Bootstrap. */
/* See https://github.com/duke-libraries/dul-masthead/ */

#masthead-dulcet {
  background: $dul-masthead-blue;
  #dul-masthead-logo-link {
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    @include media-breakpoint-down(md) {
      max-width: 130px;
    }
    @media (max-width: 812px){
      max-width: 130px;
    }
  }

  #dul-masthead-dul-megamenu {
    max-width: none !important;
    margin-bottom: 0;

    img#dul-masthead-logo {
      @include media-breakpoint-down(md) {
        max-width: 130px;
      }
    }

    #dul-masthead-region-megamenu {
      @include media-breakpoint-down(md) {
        width: 100%;
        margin-top: 6px;
      }
    }

    #dul-masthead-nav-trigger-btn {
      font-size: 18px;
    }

    ul.dul-masthead-megamenu {
      @include media-breakpoint-down(md) {
        display: flex;
        > li {
          flex-grow: 1;
          text-align: center;
          padding-bottom: 7px;
          &:hover {
            margin-top: -1px !important;
          }
          a {
            font-size: 15px;
            font-weight: normal;
          }
        }
        > li.dul-masthead-megamenu_button {
          display: none;
          flex-grow: 0;
        }
      }
      @media (max-width: 812px){
        display: none;
      }
    }
  }

  #dul-masthead-filler, .dul-masthead-wrapper {
    height: 105px;
  }
}
