/* Google Font; see the following for more options: */
/* https://fonts.google.com/specimen/Source+Sans+Pro */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

body {
  font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
  color: $gray-darker;
}


/* bootstrap 4 uses 1rem = 16px as base size, 1.5 as line-height */

h1 {
  font-size: 2.75rem; /* 44px */
}

h2 {
  font-size: 2.25rem; /* 36px */
}

h3 {
  font-size: 1.8125rem; /* 29px */
}

h4 {
  font-size: 1.375rem; /* 22px */
}

h5 {
  font-size: 1.0625rem; /* 17px */
}

.lead {
  font-size: 1.59375; /* 25.5px */
} 

p, li {
  font-size: 1.0625rem; /* 17px */
  line-height: 1.42857; /* 24.2857px)? */
}

input {
  font-size: 1.0625rem; /* 17px */
}
