/* ======================================== */
/* COLORS                                   */
/* ---------------------------------------- */
/* Notes:                                   */
/* - Use variable names whenever possible   */
/* - Use tint() & shade() functions for     */
/*   variations (see custom-functions.scss) */
/* - Be careful with WCAG 2.0 contrast      */
/*                                          */
/* ======================================== */

/* ======================================== */
/* Duke Branding Guide colors ca. 2019      */
/* https://brand.duke.edu/colors/           */
/* ======================================== */
$duke-navy-blue:        #012169 !default;
$duke-royal-blue:       #00539b !default;
$copper:                #c84e00 !default;
$persimmon:             #e89923 !default;
$dandelion:             #ffd960 !default;
$piedmont:              #a1b70d !default;
$eno:                   #339898 !default;
$magnolia:              #1d6363 !default;
$prussian-blue:         #005587 !default;
$shale-blue:            #0577b1 !default;
$ironweed:              #993399 !default;
$hatteras:              #e2e6ed !default;
$whisper-gray:          #f3f2f1 !default;
$ginger-beer:           #fcf7e5 !default;
$dogwood:               #988675 !default;
$shackleford:           #dad0c6 !default;
$cast-iron:             #262626 !default;
$graphite:              #666666 !default;
$granite:               #b5b5b5 !default;
$limestone:             #e5e5e5 !default;

/* ======================================== */
/* DUL website colors (D7 Dulcet) ca. 2015  */
/* ======================================== */
$dul-masthead-blue:     #053482 !default;
$dul-dulcet-lightblue:  #235f9c !default;
$dul-dulcet-green:      #a1b70d !default;
$dul-dulcet-orange:     #f09905 !default;
$dul-dulcet-red:        #cc3300 !default;

$brand-primary:         #053482 !default;
$brand-secondary:       #042762 !default;
$brand-success:         #00830e !default;
$brand-danger:          #cc3300 !default;
$brand-warning:         #f09905 !default;
$brand-info:            #004ccc !default;

$gray-darker:           #222222 !default;
$gray-dark:             #333333 !default;
$gray:                  #555555 !default;
$gray-light:            #676767 !default;
$gray-light-more:       #cccccc !default;
$gray-lighter:          #eeeeee !default;
$facet-grey:            #f5f5f5 !default;
$gray-lightest:         #fafafa !default;

$link-color: #004ccc;
$link-hover-color: tint($link-color, 16%);
