<h2>
  <a href="https://library.duke.edu/about/contact">Contact Us</a>
</h2>
<address class="contact-address">
  411 Chapel Drive<br/>
  Durham, NC 27708<br/>
  (919) 660-5870<br/>
  Perkins Library Service Desk
</address>
