<div class="footer-license mb-3">
  <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US">
    <img alt="Creative Commons License" src="https://licensebuttons.net/l/by-nc-sa/3.0/80x15.png" title="This work is licensed under a Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License" />
  </a>
</div>
