<div class="drupal-shib-login-wrapper">
  <a class="drupal-shib-login btn-sm btn-light" href="https://library.duke.edu/Shibboleth.sso/Login?target=https://library.duke.edu/user">Library&nbsp;Staff&nbsp;Sign&nbsp;In</a>
</div>
