<ul class="list-unstyled">
  <li><a href="https://library.duke.edu/about/newsletter">Sign Up for Our Newsletter</a></li>
  <li><a href="https://library.duke.edu/about/reuse-attribution">Re-use &amp; Attribution</a> / <a href="https://library.duke.edu/about/privacy">Privacy</a></li>
  <li><a href="https://library.duke.edu/about/statement-potentially-harmful-language-library-descriptions">Harmful Language Statement</a></li>
  <li><a href="https://library.duke.edu/support">Support the Libraries</a></li>
</ul>
