<h2>
  <a href="https://library.duke.edu/services">Services for...</a>
</h2>
<div class="row">
  <div class="col-md-6">
    <ul class="list-unstyled">
      <li><a href="https://library.duke.edu/services/faculty">Faculty &amp; Instructors</a></li>
      <li><a href="https://library.duke.edu/services/graduate">Graduate Students</a></li>
      <li><a href="https://library.duke.edu/services/undergraduate">Undergraduate Students</a></li>
      <li><a href="https://library.duke.edu/services/international">International Students</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <ul class="list-unstyled">
      <li><a href="https://library.duke.edu/services/alumni">Alumni</a></li>
      <li><a href="https://library.duke.edu/services/donors">Donors</a></li>
      <li><a href="https://library.duke.edu/services/visitors">Visitors</a></li>
      <li><a href="https://library.duke.edu/services/disabilities">Patrons with Disabilities</a></li>
    </ul>
  </div>
</div>
