<div class="social-media-icons mb-3">
  <a href="https://www.linkedin.com/company/duke-university-libraries/" title="LinkedIn" class="fab fa-linkedin">
    <span class="sr-only">LinkedIn</span></a>
  </a>
  <a href="https://www.facebook.com/dukelibraries" title="Facebook" class="fab fa-facebook-square">
    <span class="sr-only">Facebook</span>
  </a>
  <a href="https://www.youtube.com/user/DukeUnivLibraries" title="YouTube" class="fab fa-youtube-square">
    <span class="sr-only">YouTube</span>
  </a>
  <a href="https://www.flickr.com/photos/dukeunivlibraries/" title="Flickr" class="fab fa-flickr">
    <span class="sr-only">Flickr</span>
  </a>
  <a href="https://instagram.com/dukelibraries" title="Instagram" class="fab fa-instagram">
    <span class="sr-only">Instagram</span>
  </a>
  <a href="https://blogs.library.duke.edu/" title="Blogs" class="fa fa-rss-square">
    <span class="sr-only">Blogs</span>
  </a>
</div>
