<footer id="footer-dulcet" class="container" role="contentinfo">
  <div class="row">
    <div class="col-md-3 col-lg-1">
      <div id="dul-logo" class="mb-3">
        <a href="https://library.duke.edu">
          <%= image_tag('dul_bootstrap_theme/dul_devil_gray.png',
                        alt: 'Duke University Libraries',
                        class: 'img-fluid') %>
        </a>
      </div>
    </div>
    <div class="col-md-3 col-lg-2">
      <%= render 'dul_bootstrap_theme/footer/contact' %>
    </div>
    <div class="col-md-6 col-lg-4">
      <%= render 'dul_bootstrap_theme/footer/services' %>
    </div>
    <div class="col-md-9 col-lg-3 order-md-2 order-lg-1">
      <%= render 'dul_bootstrap_theme/footer/social-media' %>
      <%= render 'dul_bootstrap_theme/footer/misc-links' %>
      <%= render 'dul_bootstrap_theme/footer/license' %>
    </div>
    <div class="col-md-3 col-lg-2 order-md-1 order-lg-2">
      <div id="duke-logo" class="mb-3">
        <a href="https://duke.edu">
          <%= image_tag('dul_bootstrap_theme/duke_gray.png',
                        alt: 'Duke University',
                        class: 'img-fluid') %>
        </a>
      </div>
      <%= render 'dul_bootstrap_theme/footer/login' %>
    </div>
  </div>
</footer>
