<div id="masthead-dulcet" class="container">
  <div class="row">
    <div class="col">
      <div id="dul-masthead-filler">
        <div class="dul-masthead-wrapper">
          <a href="https://library.duke.edu" id="dul-masthead-logo-link">
            <%= image_tag('dul_bootstrap_theme/logo.png',
                          alt: 'Duke University Libraries',
                          id: 'dul-masthead-logo',
                          class: 'img-fluid') %>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://library.duke.edu/masthead/load-masthead.js.php?fixed=false" async></script>
